body
{
  color: rgba(255, 255, 255, 0.715);
  background: rgb(233, 192, 255)117, 48, 59;
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: yellow;
}
